*.log*
.cache
.DS_Store
.idea
.vscode
.npmrc

# npm
node_modules
package-lock.json

# dist file
es
lib
dist
docs/dist
examples/element-ui
examples/pages/en-US
examples/pages/zh-CN
examples/pages/es
examples/pages/fr-FR
changelog.generated.md
test/coverage
vetur
/webSite/